<div class="navbar-fixed">
    <nav class="green" role="navigation">
        <div class="nav-wrapper container"><a id="logo-container" href="#"
                                              class="brand-logo center">PyDev
            Reactions</a>
            <!-- Comment out nav links for now -->
            <!--
{#        <ul class="right hide-on-med-and-down">#}
{#            <li><a href="#">Navbar Link</a></li>#}
{#        </ul>#}
{##}
{#        <ul id="nav-mobile" class="side-nav">#}
{#            <li><a href="#">Navbar Link</a></li>#}
{#        </ul>#}
{#        <a href="#" data-activates="nav-mobile" class="button-collapse"><i#}
{#                class="material-icons">menu</i></a>#}
-->

        </div>
    </nav>
</div>
