{% extends 'layouts/base.html' %}

{% block title %}Put a Title Here{% endblock title %}


{% block navbar %}
    {#  Uncomment for a navbar  #}
    {#    {% include 'layouts/nav.html' %}#}
{% endblock navbar %}

{% block content %}

    <div class="row">

        <div class="col s12 m4">
            <div class="card blue-grey side-panel">
                <div class="card-content white-text center">

                    <div>
                        <img src="{{ url_for('static', filename='img/python-logo.png') }} "
                             width=120>
                    </div>
                    <div>
                        <h5> A side card</h5>
                    </div>
                    <div class="divider"></div>

                    <div class="section">
                        <div>
                            <blockquote>
                                <p> Somebody long time ago said something wise
                                </p>
                                ― Somebody
                            </blockquote>
                        </div>

                    </div>
                    <div class="card-action">
                        <a href="" class="waves-effect deep-orange darken-2 btn join-button" target="_blank">A Button</a>
                    </div>

                </div>
            </div>
        </div>

        <div class="col s12 m8 l6">
        <div>
            <a class="btn-floating btn-large waves-effect waves-light deep-orange darken-2 add-button"><i class="material-icons">add</i></a>
        </div>
            {% for item in data %}
                <div class="card white reaction-card" data-id="{{ item.id }}">
                    <div class="card-content blue-grey-text center reaction-card-content">
                        <div class="card-image z-depth-1 reaction-image">
                            <img src="{{ item.img_url }}">
                        </div>
                        <div class="card-panel grey lighten-5 z-depth-1 reaction-text-section">
                            <div class="col s10">
                              <span class="blue-grey-text">
                                  {{ item.text }}
                              </span>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}


{% block scripts %}
    {{ super() }}

{% endblock scripts %}
